<header>
  <div class="top-header">
    <div class="container">
      <div class="content">
        <div>
          <i class="fa-solid fa-location-dot"></i>
          <span>Số 9b, Đường Minh Nghĩa, Đại Đồng, Thạch Thất, Hà Nội</span>
        </div>
        <div>
          <i class="fa-solid fa-phone"></i>
          <span> 0968 02 64 00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="main-header">
    <div class="container">
      <div class="content">
        <div class="menu-bar">
          <i class="fa-solid fa-bars" id="menu-bar"></i>
        </div>
        <div class="logo">
          <h2>KinsFresh</h2>
        </div>
        <div class="service-header">
          <div class="item-service">
            <img src="../asset/icons/1.png" alt="truck" />
            <div class="info-service">
              <h3>GIAO HÀNG NHANH</h3>
              <p>Ship COD tận nhà. giao hàng toàn quốc</p>
            </div>
          </div>
          <div class="item-service">
            <img src="../asset/icons/2.png" alt="truck" />
            <div class="info-service">
              <h3>GIỜ LÀM VIỆC</h3>
              <p>T2 - T7 Giờ hành chính</p>
            </div>
          </div>
          <div class="item-service">
            <img src="../asset/icons/3.png" alt="truck" />
            <div class="info-service">
              <h3>HỖ TRỢ 24/7</h3>
              <p>Hotline: 0968 02 64 00</p>
            </div>
          </div>
          <div class="item-service">
            <img src="../asset/icons/5.png" alt="truck" />
            <div class="info-service">
              <h3>UY TÍN, CHẤT LƯỢNG</h3>
              <p>Được kiểm hàng trước khi nhận</p>
            </div>
          </div>
        </div>
        <div class="cart-header">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>Giỏ hàng</span>
        </div>
      </div>
    </div>
  </div>
</header>
