<div class="contact-second">
  <a
    href="https://www.facebook.com/profile.php?id=100008725181742"
    target="_blank"
  >
    <i class="fa-brands fa-facebook-messenger messenger-popup"></i>
  </a>
  <a href="https://zalo.me/0968026400" target="_blank">
    <img src="../asset/icons/zalo.png" alt="" />
  </a>
  <a href="tel:0968026400" target="_blank">
    <i class="fa-solid fa-phone phone-popup"></i>
    <span>0968 02 64 00</span>
  </a>
</div>

<div class="up">
  <a href="#"><i class="fa-solid fa-chevron-up"></i></a>
</div>

