:root {
  --text-color: #333;
  --text-secondary-color: #666;
  --color-1: #00864b;
  --color-2: #1e734e;
  --color-primary: #00864b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dn {
  display: none;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.navbar.show {
  transform: translateX(0);
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.navbar.sticky.show {
  transform: translateY(0);
}

.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 24px;
  margin: 0 auto;
}

/* header */

.top-header {
  background: linear-gradient(to right, var(--color-1), var(--color-2));
}

.top-header .content {
  height: 32px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.top-header .content > div i {
  font-size: 1.6rem;
  color: #fff;
}

.top-header .content > div span {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 10px;
}

.main-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-bar {
  font-size: 2rem;
  color: #333;
  font-weight: 700;
  background-color: #fc980c;
  padding: 6px;
  color: #fff;
  border-radius: 5px;
  display: none;
  transition: 0.3s ease-in-out;
}

#menu-bar:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.main-header h2 > a {
  text-decoration: none;
  font-size: 6rem;
  color: var(--color-primary);
  font-weight: 700;
}

.service-header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  flex-wrap: wrap;
  padding: 20px 0;
  max-width: 496px;
}

.item-service {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.service-header .info-service h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 8px;
}

.service-header .info-service p {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.57;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc980c;
  height: 34px;
  width: 200px;
  border-radius: 8px;
  transition: 0.3 ease-in;
}

.cart-header:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.cart-header > i {
  font-size: 1.8rem;
  color: #fff;
}

.cart-header span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
}

/* navbar */
.navbar {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  transition: 0.3s ease-in;
  width: 100%;
  z-index: 999;
}

.nav_category-list > li > a {
  color: var(--text-color) !important;
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.navbar .content > ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.navbar .content > ul a {
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  padding: 0 10px;
  transition: 0.3s ease-in;
}

.navbar .content > ul a:hover {
  background-color: #fc980c;
}
.search-box {
  width: 445px;
  height: 34px;
  position: relative;
}

.search-input {
  width: 100%;
  padding-left: 8px;
  height: 100%;
  outline: none;
  border-radius: 16px;
  border: 0;
  color: #fff;
  background-color: rgba(247, 247, 247, 0.1);
}
input::placeholder {
  color: #fff;
}
#btn-search {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
#btn-search:hover {
  cursor: pointer;
}

.nav-products {
  position: relative;
}

.nav-products:hover .nav_category-list {
  display: block;
}
.nav-products i {
  display: inline-block;
  font-size: 1.6rem;
  padding: 8px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  perspective: 600px;
}
.nav-products i.rotate {
  transform: rotate(-90deg);
}
.nav_category-list {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

/* footer */
footer {
  margin-top: 80px;
}
.main-footer {
  background: linear-gradient(to right, var(--color-1), var(--color-2));
}
.main-footer .content {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}
.info-footer h3 {
  font-size: 1.9rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.57;
}
.info-footer li > a,
.info-footer li {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.57;
}
.info-footer li > a {
  text-decoration: none;
}
.info-footer li > a:hover {
  opacity: 0.67;
  cursor: pointer;
}
.info-footer iframe {
  border-radius: 16px;
  width: 100%;
  height: 200px;
}
.bottom-footer .content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #056037;
  height: 40px;
  z-index: 999;
}
.bottom-footer .content h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
.info-footer .map {
  position: relative;
}
.info-footer .map iframe{
    width: 100%;

}

.info-footer .map .address {
  position: absolute;
  width: 100px;
  line-height: 1.3;
  font-size: 1.2rem;
  background-color: #fff;
  color: var(--text-color);
  font-weight: 600;
  top: 10px;
  right: 8px;
  padding: 3px 6px;
}

/* main index */
.main {
  margin-top: 40px;
}
.content-main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.main .content-main .left {
  width: 304px;
}
.content-main .left .title-category {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0 10px 12px;
  gap: 10px;
  border-radius: 6px;
  background: linear-gradient(to right, var(--color-1), var(--color-2));
}
.content-main .title-category i {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
}
.content-main .title-category h3 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 600;
}
.category-main .list-category {
  border: 1px solid #ccc;
  margin-bottom: 60px;
}
.category-main .list-category > li {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0 10px 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.category-main .list-category a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.6rem;
}
.category-main .list-category a:hover {
  opacity: 0.87;
  cursor: pointer;
}
.content-main .news-category h3 {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 20px;
}

.content-main .slider-news {
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.content-main .slider-news .list-news-wrapper {
  overflow: hidden;
  width: 100%;
}

.content-main .slider-news .list-news {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.content-main .list-news .card {
  width: 100%;
  flex-shrink: 0;
}

.content-main .list-news .img-news {
  width: 100%;
}

.content-main .left .img-news img {
  width: 100%;
  object-fit: cover;
}

.content-main .card .info {
  padding: 10px;
}

.content-main .card .info h3 {
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 1.57;
  font-weight: 600;
}

.content-main .card .info .desc {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1.57;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-product .prev,
.list-product .next,
.banner-main .prev,
.banner-main .next,
.content-main .slider-news .prev,
.content-main .slider-news .next {
  position: absolute;
  cursor: pointer;
  top: 35%;
  color: var(--text-secondary-color);
  font-size: 1.6rem;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3 ease-in-out;
  z-index: 2;
  margin-left: 10px;
  transform: translateY(-50%);
}

.content-main .slider-news .prev,
.content-main .slider-news .next {
  margin-left: 0;
}

.list-product .prev:hover,
.list-product .next:hover,
.banner-main .prev:hover,
.banner-main .next:hover,
.content-main .slider-news .prev:hover,
.content-main .slider-news .next:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.content-main .slider-news .next {
  right: 0;
}
/* -----------------------------------relate product */

.content-main .relate-product {
  margin-top: 60px;
}

.content-main .relate-product .product {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  text-decoration: none;
}

.content-main .product img {
  width: 76px;
  height: 76px;
  object-fit: cover;
}

.content-main .relate-product h4 {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.content-main .relate-product .price {
  font-size: 1.8rem;
  color: #fc980c;
  font-weight: 700;
  margin-bottom: 10px;
}

.content-main .relate-product .add-card {
  display: block;
  padding: 8px 14px;
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  font-size: 1.4rem;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  transition: 0.3s ease-in;
}

.content-main .relate-product .add-card:hover {
  background: #fc980c;
  cursor: pointer;
}

.main .content-main .right {
  max-width: 958px;
}

.main .content-main .banner-main {
  width: 100%;
  position: relative;
}

.main .banner-main .slider {
  width: 100%;
  overflow: hidden;
}
.main .banner-main .slider .list-img {
  display: flex;
  width: 100%;
  transition: all 0.3s ease-in;
}

.main .banner-main .slider img {
  width: 100%;
  height: 400px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px;
}

.list-product .prev,
.list-product .next,
.banner-main .prev,
.banner-main .next {
  top: 50%;
  color: var(--text-secondary-color);
}

.list-product .next,
.banner-main .next {
  right: 10px;
}

.banner-main .prev:hover,
.banner-main .next:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.content-main .right .main-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  gap: 20px;
  margin-top: 40px;
  padding: 10px;
}

.content-main .right .main-service > div {
  max-width: 304px;
  padding: 20px 40px;
}

.content-main .main-service > div h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 14px;
  text-align: center;
  line-height: 1.57;
}

.content-main .main-service > div p {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  line-height: 1.57;
}

.container-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  overflow: hidden;
}

.category-product_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.category-product_title h3 {
  text-align: center;
  padding: 10px 12px;
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  border-radius: 6px;
}

.category-product_title a {
  font-size: 1.4rem;
  color: var(--color-primary);
  text-decoration: none;
}

.category-product_title a:hover {
  text-decoration: underline;
}

.list-product {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 60px;
}

.list-product .wrapper-list {
  display: grid;
  gap: 30px;
  width: 100%;
  overflow: hidden;
  grid-auto-columns: calc((100% - 90px) / 4);
  grid-auto-flow: column;
}
.list-product .wrapper-list .product-card {
  text-decoration: none;
  width: 100%;
  display: block;
}

.list-product .img-wrapper {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
}

.list-product .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.img-wrapper .main-img {
  opacity: 1;
  z-index: 1;
}

.img-wrapper .hover-img {
  opacity: 0;
  z-index: 2;
}

.product-card:hover .hover-img {
  opacity: 1;
}

.product-card:hover .main-img {
  opacity: 0;
}

.product-card .name {
  font-size: 1.6rem;
  color: var(--color-primary);
  line-height: 1.57;
  margin-bottom: 8px;
  text-align: center;
}

.product-card .price-product {
  font-size: 1.8rem;
  color: #fc980c;
  font-weight: 600;
  text-align: center;
}

.banner-second {
  position: relative;
}

.banner-second img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.banner-second .desc {
  position: absolute;
  width: 100%;
  padding: 20px 20px;
  background-color: rgba(5, 96, 55, 0.6);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.banner-second .desc h3 {
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-second .desc p {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-style: italic;
}

/* more-main */
.more-main {
  margin-bottom: 60px;
}

.title-more {
  display: flex;
  justify-content: center;

  align-items: center;
  margin-bottom: 60px;
}

.more-main .title-second {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  width: max-content;
  padding: 6px 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.more-main .title-more .line {
  flex-grow: 1;
  height: 3px;
  background-color: #fc980c;
}

.more-main .cards {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.more-main .cards .card {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 0 10px 10px;
  width: calc((100% - 100px) / 6);
  transition: transform 0.3s ease-in;
  min-height: 226px;
}

.more-main .cards .card:hover {
  transform: translateY(-10px);
}

.more-main .cards .card a {
  text-decoration: none;
}

.more-main .cards .card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.more-main h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.27;
  margin: 10px 0;
}

.more-main p {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1.57;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.instruct-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}

.instruct-buy .card {
  width: calc((100% - 60px) / 4);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.instruct-buy .card:hover {
  transform: scale(1.05);
}

.instruct-buy .card a {
  text-decoration: none;
}

.instruct-buy .card img {
  width: 100%;
  object-fit: cover;
}

.instruct-buy .info-card h3 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: rgba(5, 96, 55, 0.8);
  width: 100%;
  padding: 10px 20px;
  text-align: center;
}

main .companion {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

main .companion img {
  width: 100%;
  object-fit: cover;
}

/* contact-second */
.contact-second {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.contact-second a {
  text-decoration: none;
  z-index: 9999;
  position: fixed;
  left: 60px;
  bottom: 60px; 
}

.contact-second a:nth-child(1){
 t
}
.contact-second a:nth-child(2){

}
.contact-second a:nth-child(3){

}


.contact-second .messenger-popup {
  font-size: 2.9rem;
  color: #fff;
  background-color: #0068ff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.contact-second img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding: 10px;
  background-color: #0068ff;
  border-radius: 50%;
  cursor: pointer;
}

.phone-popup {
  box-shadow: 0 0 0 rgba(241, 21, 21, 0.4);
  color: #fff;
  background-color: #f00;
  animation: pulseShake 2s infinite;
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
@keyframes pulseShake {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 0 rgba(238, 17, 17, 0.9);
  }

  10% {
    transform: rotate(-40deg);
  }

  20% {
    transform: rotate(40deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
    box-shadow: 0 0 25px 15px rgba(255, 5, 5, 0.9);
  }

  100% {
    transform: rotate(0deg);
    box-shadow: 0 0 0 rgba(255, 59, 59, 0);
  }
}

.contact-second span {
  color: #f00;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 10px;
}

.contact-second a:last-child {
  background-color: #f1edee;
  border-radius: 60px;
  padding: 6px 10px;
  overflow: hidden;
}

.up {
  position: fixed;
  right: 60px;
  bottom: 80px;
}

.up i {
  padding: 12px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgba(205, 216, 211, 0.4);
  transition: 0.3 ease-in-out;
  border-radius: 6px;
}

.up i:hover {
  background-color: rgba(205, 216, 211, 1);
}
