@media (max-width: 1279px) {
  html {
    font-size: 56.25%;
  }
  .main-header h2 {
    font-size: 5rem;
  }
  .navbar .content > ul {
    gap: 10px;
  }

  .search-box {
    max-width: 300px;
  }
  #search-results {
    max-width: 958px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 50%;
  }
  .top-header .content {
    display: flex;
    justify-content: center;
  }
  .main-header h2 {
    font-size: 4.8rem;
  }
  .service-header {
    display: none;
  }
  header {
    border-bottom: 1px solid #ccc;
  }
  .main-header .content {
    padding: 30px 0;
  }
  #menu-bar {
    display: block;
  }
  .cart-header {
    width: 32px;
  }
  .cart-header span {
    display: none;
  }
  .navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    background: 0;
    background-color: rgba(214, 212, 212, 0.9);
    z-index: 999;
    padding-top: 160px;
  }

  .nav_category-list {
    position: static;
    top: 100%;
    max-height: 0;
    left: 0;
    box-shadow: none;
    background-color: rgba(214, 212, 212, 0.1);
    transition: all 0.3s ease-in-out;
    padding-left: 20px;
    overflow: hidden;
  }
  .nav_category-list.open {
    max-height: 255px;
  }

  .navbar .content > ul {
    display: flex;
    flex-direction: column;
    padding-top: 220px;
  }
  .navbar .content > ul a {
    color: var(--text-color);
    font-weight: 700;
    display: flex;
    width: 180px;
    font-size: 1.6rem;
    padding: 0 10px;
    text-align: start;
  }
  .navbar .content > ul a:hover {
    background-color: #fff;
  }
  .search-box {
    display: none;
  }
  .list-product .wrapper-list {
    gap: 20px;
    grid-auto-columns: calc((100% - 60px) / 3);
  }
  #search-results {
    width: 490px;
  }
  #search-results,
  .main .right-products .list-product {
    grid-template-columns: repeat(2, minmax(calc((100% - 30px) / 2), 1fr));
    gap: 30px;
  }
  .instruct-buy .card {
    width: calc((100% - 40px) / 3);
  }
  .more-main .cards .card {
    width: calc((100% - 60px) / 4);
  }
  .cards-news-index {
    grid-template-columns: repeat(4, minmax(calc((100% - 60px) / 4), 1fr));
  }
}

@media (max-width: 767.98px) {
  html {
    font-size: 50%;
  }
  .more-main .cards .card {
    width: calc((100% - 40px) / 3);
  }
  .instruct-buy .card {
    width: calc((100% - 20px) / 2);
  }
  .top-header .content {
    display: flex;
    justify-content: center;
  }
  .main-header h2 {
    font-size: 4.8rem;
  }
  .service-header {
    display: none;
  }
  header {
    border-bottom: 1px solid #ccc;
  }
  .main-header .content {
    padding: 30px 0;
  }
  #menu-bar {
    display: block;
  }
  .cart-header {
    width: 32px;
  }
  .cart-header span {
    display: none;
  }
  .navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    background: 0;
    background-color: rgba(214, 212, 212, 0.9);
    z-index: 999;
  }
  .navbar .content > ul {
    flex-direction: column;
    align-items: start;
    padding-top: 220px;
  }
  .navbar .content > ul a {
    color: var(--text-color);
    font-weight: 700;
    display: flex;
    font-size: 1.8rem;
    padding: 0;
    text-align: start;
  }
  .search-box {
    display: none;
  }
  .main-footer .content {
    flex-direction: column;
    gap: 30px;
  }
  .info-footer iframe {
    width: 220px;
    height: 12 0px;
  }
  .nav-products a {
    display: flex;
    justify-content: space-between;
  }
  .contact-second {
    left: 30px;
  }
  .main .content-main .left {
    display: none;
  }
  .map iframe {
    width: 70%;
  }
  .main-page img {
    width: 100%;
    height: 200px;
  }
  .info-footer .map {
    width: 100%;
  }
  #search-results {
    width: 71.98px;
  }
  #search-results,
  .main .right-products .list-product {
    grid-template-columns: repeat(3, minmax(calc((100% - 60px) / 3), 1fr));
    gap: 30px;
  }
  .cards-news-index {
    grid-template-columns: repeat(3, minmax(calc((100% - 40px) / 3), 1fr));
  }
}
@media (max-width: 719px) {
  html {
    font-size: 48%;
  }
  .detail-product .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-contact .map .address {
    display: none;
  }
  .main .content-main .left {
    display: none;
  }
  #search-results {
    width: 628px;
  }
}
@media (max-width: 573px) {
  .content-main .right {
    width: 100%;
  }
  .content-main .right .main-service {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-main .right .main-service > div {
    width: 100%;
  }
  .list-product .wrapper-list {
    gap: 20px;
    grid-auto-columns: calc((100% - 60px) / 3);
  }

  .list-product .prev,
  .list-product .next {
    display: none;
  }
  .companion {
    display: none;
  }
  .map iframe {
    width: 100%;
  }
  .info-footer .map .address {
    top: 60px;
  }
  .main-page img {
    width: 100%;
    height: 200px;
  }
  #search-results {
    width: 513px;
  }
  #search-results,
  .main .right-products .list-product {
    grid-template-columns: repeat(2, minmax(calc((100% - 20px) / 2), 1fr));
    gap: 20px;
  }
  .cards-news-index {
    grid-template-columns: repeat(2, minmax(calc((100% - 20px) / 2), 1fr));
  }

  @media (max-width: 480px) {
    .content-main .right {
      width: 100%;
    }
    .map iframe {
      width: 100%;
    }
    .info-footer .map .address {
      top: 60px;
    }
    .list-product .wrapper-list {
      width: 100%;
      gap: 10px;
      grid-auto-columns: calc((100% - 10px) / 2);
    }
    .more-main .cards .card {
      width: calc((100% - 20px) / 2);
    }
    .top-header {
      padding: 20px 0;
    }
    .top-header .content {
      flex-direction: column;
      gap: 10px;
    }
    .main-page img {
      width: 100%;
      height: 200px;
    }
    #search-results {
      width: 432px;
    }
  }
}
@media (max-width: 430px){
   #search-results {
      width: 400px;
      gap: 20px;
    }
}
